#top-image {
    background-image: url("../images/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 515px;
}

.title {
    color: white;
}
}